<header id="fixHeader">
	<div class="headerControls">
        <div class="pull-left">
				<!-- <a class="siteNav-logo hoverable" routerLink="/home"></a> -->
				<a  class="menu home" routerLink="/home">Best UX Design</a>
                <div class="contactUs">
             <!-- <a  class="menu" href="/about"><img class="img-responsive" src="images/user.svg" alt="About Best UX Design" ></a> -->
                  <a  class="menu" href="mailto:hello@bestuxdesign.com?subject=Hello%20You"><img class="img-responsive" src="assets/images/email.svg" alt="Say Hello to BestUXDesign"></a>
                  <a  class="menu" href="https://www.facebook.com/groups/bestUXDesigners"><img class="img-responsive" src="assets/images/facebook.svg" alt="BestUXDesign Facebook"></a>
                  <a  class="menu" href="https://twitter.com/BestUXDesign"><img class="img-responsive" src="assets/images/twitter.svg" alt="#BestUXDesign Twitter"></a>
                </div>
				<a  class="menu admin" routerLink="/admin" *ngIf='isAdmin' >Admin</a>
        </div>
        <div class="stay-center">
				<a class="siteNav-logo" href="/home"  id="logo">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.43 18.88"><title>Best UX Design</title><path d="M7207.43,7190.5H7191v18.88l7.11-4.41-3.43-2.94,12.75,7.36Zm-2,9.81h-2l-1.69-1.81-1.75,1.81h-2.94c-.5,0-.6,0-1,0h-1.06c-.33,0-.58-.26-.81-.47a2,2,0,0,1-.52-.74,2.68,2.68,0,0,1-.07-1v-3.92h1.72v3.68a.86.86,0,0,0,.27.68,1.31,1.31,0,0,0,.47.3,1.9,1.9,0,0,0,.45-.3.88.88,0,0,0,.28-.68v-3.68h3.43l1.52,1.84,1.42-1.84h2.21l-2.58,2.94Zm-6.54-4.85a.19.19,0,0,0-.27,0,.17.17,0,0,0-.06.13v3.06a.17.17,0,0,0,.06.13.19.19,0,0,0,.27,0l1.58-1.53a.18.18,0,0,0,0-.26Z" transform="translate(-7191 -7190.5)"/></svg>
				</a>
        </div>
        <div class="pull-right">
            <a class="signin" routerLink="/userposts"><span>+</span> Submit</a>
            <a class="userIcon ng-hide button" *ngIf='isAdmin' (click)="logout()">logout</a>
        </div>
    </div>
</header>
