<header>
	<div class="headerControls">
        <div class="pull-left">
				<!-- <a class="siteNav-logo hoverable" href="index.html">
				    <img src="/assets/images/siteLogo.svg" alt="Best UX Design">
				</a> -->
				<a  class="menu" routerLink="/home">Best UX Design</a>
				<a  class="menu" routerLink="/admin" *ngIf='isAdmin' >Admin</a>
        </div>
        <div class="stay-center">
				<a class="siteNav-logo hoverable" href="index.html">
				    <img src="/assets/images/siteLogo.svg" alt="Best UI UX Design">
				</a>
        </div>
        <div class="pull-right">
            <a class="signin" routerLink="/userposts"><span>+</span> Submit</a>
            <a class="userIcon ng-hide button" *ngIf='isAdmin' (click)="logout()">logout</a>
        </div>
    </div>
</header>
