/* header menu */

header {
    height: 60px;
    width: 100%;
    background: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    
    background-color: #fff;
}

   
header #logo svg {
            display: inline-block;
            float: left;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            width: 80px;
}

.pull-left {
    float: left;
    width:25%;
}
.pull-left p {
    padding-left: 5px;
    top: -2px;
    position: relative;
    display: inline;
}
.stay-center {
    float: left;
    width: 50%;
    text-align: center;
    margin: 0;
    display: inline-block;
}

.pull-right {
    float: right;
    width: 25%;
    text-align: right;
}


header .nav-icon.search.animate {
    animation: revealSearch .35s forwards;
    transform: translate3d(0, 0, 0);
}
header .nav-icon.search {
    margin: 24px 0;
    /*width: 0;
    overflow: hidden;*/
}
header .nav-icon {
    margin: 24px 10px;
    display: inline-block;
    vertical-align: top;
}
header a.signin {
    margin: 16px 0;
    display: inline-block;
    margin-left: 20px;

    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0,0,0,.76);
    text-decoration: none;

    border: 1px solid;
    padding: 5px 16px;
    border-radius: 15px;
    /*width: 0;
    overflow: hidden;*/
}

header a.signin:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,.76);
}


header .nav-icon.search i {
    margin: 0 10px;
}
header .nav-icon i {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    color:rgba(0,0,0,.76)!important;
    transition: color 0.35s;
}


header .userIcon {
    display: inline-block;
    margin-left: 10px;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    border: 1px solid;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.76);
}

header a.menu {
    display: inline-block;
    margin: 12px 0;

    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0,.76);
    text-decoration: none;

    padding: 5px 10px;
    letter-spacing: -1px;
}
header a.menu:hover {

    color: rgba(0,0,0,1);

}

header a.menu img {
    width: 24px;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header a.menu img {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}
header a.menu:hover img {
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}



header .headerControls .siteNav-logo {
    /* margin: 17px 20px 17px 0; */
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(0,0,0,.76);
    text-decoration: none;
    letter-spacing: -.08em;
    /* float: left; */
}

header .headerControls a.siteNav-logo svg {
    width: 60px;
    opacity: .10;
}
header .headerControls a.siteNav-logo:hover svg {
    opacity:.76;
}


/* Menu change */          

header.showHeader #logo svg {
            width: 50px;
}
header .contactUs {
    display: none;
}
header.showHeader .contactUs {
    display:inline-block;
                
}
header .contactUs a.menu {
    opacity: .56;
}
header .contactUs a.menu:hover {
    opacity: 1;
}
header.showHeader a.home {
    display: none;
                
}

a.admin {
    color: rgb(255, 63, 69) !important;
}




.socialBtns {
    display: block;
    margin: 20px;
    clear: both;
}