<footer id="fixFooter">
    <div class="Cookie" style="display: none" id="popup">
        <div class="CookieText"  onclick="this.parentNode.parentNode.style.display = 'none'">
            This website uses cookies to ensure you get the best experience on our website. By using BestUXDesign, you agree to our <a href="/cookie-policy" rel="noopener">Privacy Policy</a>..
            <div class="CookieButtons"><div class="gotIt">Got it - Hide</div></div>
        </div> 
    </div>
    
    <div class="socialBtns">
        <div class="fb-like" data-href="https://www.facebook.com/bestUXDesign/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <a href="https://twitter.com/BestUXDesign?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow @BestUXDesign</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="coptyRights">
        <h3 class="footer-brand">Best UX Design</h3> <p class="footer-about">The best collection of design, UI, UX &amp; interactive news, resources, and inspiration for designers.<br />We list the best UX design and connecting UX designers worldwide.</p>
        <p class="footer-copy">&copy; 2018 BestUXDesign. All screenshots &copy; their respective owners.</p>
    </div>
    <!-- <a class="gotoTop" href="javascript:" id="return-to-top">
        <img class="arrowIcon" src="assets/images/arrow-up.svg" width="24px" alt="Go To Top">
    </a> -->
</footer> 