<footer id="fixFooter">
    <div class="Cookie" style="display: none" id="popup">
        <div class="CookieText"  onclick="this.parentNode.parentNode.style.display = 'none'">
            This website uses cookies to ensure you get the best experience on our website. By using BestUXDesign, you agree to our <a href="/cookie-policy" rel="noopener">Privacy Policy</a>..
            <div class="CookieButtons"><div class="gotIt">Got it - Hide</div></div>
        </div> 
    </div>      
    <div class="coptyRights">
        © 2018 BestUXDesign. All screenshots © their respective owners.
    </div>
    <!-- <a class="gotoTop" href="javascript:" id="return-to-top">
        <img class="arrowIcon" src="assets/images/arrow-up.svg" width="24px" alt="Go To Top">
    </a> -->
</footer> 