<div class="feedHeader">
	<div class="dayWise">
		<a href="" class="sectionHeader">
			<h2 class="borderYellow">Featured stories</h2> <span>Handpicked for you</span>
		</a>
	</div>
</div>

<div>
    
                    <section id="handPicks">
                        <ul class="home">
                            
                            <li class="gridItem" *ngFor="let post of posts">
                                <input type="hidden" name="_id" value="{{post._id}}">
                                <div class="tile">
                                    <a href ="{{post.url}}?referrer=buxd.io" target="_blank" (click)="viewcount($event, post)"  class="postLink">
                                    <div class="postPhoto">
                                    <img class="img-responsive" alt="" *ngIf="(post.image)" src="data:image/png;base64,{{post.image.value}}" style="opacity: 1;">
                                          <div class="share"></div>
                                          <span class="badge"></span>
                                    </div>
                                    </a>
                                    <div class="postMeta">

                                        <div class="postInfo">
                                          <h3>{{post.title}}</h3>
                                          <span title="" class="source">{{post.source}}</span>
                                            <div class="stats pull-right-views">
                                                <span class="views" title="Most viewed">{{post.viewcount}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>     
                            
                            
                        </ul>
                        <div class="loadingMore"  (click)="onScrollDown()"><div class="loadBtn">Load More <span>Handpicked Stories</span></div></div>
                    </section>
    
    
</div>
