<main>
                <div class="home-content">
                    <div class="JoinToday">
                            <img class="browserImg" src="/assets/images/browser.svg" alt="Submit your link">
                            <h1 class="h1">Drop Us a Cool link</h1>
                            <h3 class="h3">The link will be published and reaches thousands of UXers</h3>

													<form [formGroup]="userAddForm"	(ngSubmit)="add()" accept-charset="utf-8" id="submit-blog" class="submitForm"	novalidate>

                              <input formControlName="name" type="text" name="name" style="width: 300px;" placeholder="Ful name" value="{{user.name}}" id="submit-field">
                              <input formControlName="email" type="text" name="email" style="width: 300px;" placeholder="Your email" value="{{user.email}}" id="submit-field"> <br />
                              <input formControlName="url" type="text" name="url" style="width: 640px;" placeholder="Your URL" value="{{user.url}}" id="submit-field" url> <br />


															<button class="btn btn-success"	[disabled]="!userAddForm.valid"	>Submit URL</button>
                            </form>
                    </div>

                </div>
            </main>
