<div class="wrapper">
  <aside class="active">
          <div class="gallery">
            	<section id="feed" >
                    <div class="detailBtns">
                        <a class="backToHome" routerLink="/">BestUXDesign</a>
                        <a class="closeIframe"  [href]='iFrameURL()'>iFrame</a>
                    </div>
            		<ul class="picks">

                        <li class="gridItem detail" *ngFor="let post of posts">
            				<input type="hidden" name="_id" value="{{post._id}}">
            				<a  target="_blank" (click)="viewcount($event, post)">
            				    <div class="postPhoto imgLoaded">
            				        <img class="img-responsive" alt="" *ngIf="(post.image)" src="data:image/png;base64,{{post.image.value}}">
            				    </div>

            				    <div class="postInfo">
            				           <!--  <div class="heart"></div> -->
            				            <h3>{{post.title}}</h3>

            				            <div class="postMeta">
            								<span title="" class="source dribbble">{{post.source}}</span>
            								<div class="stats">
            								    <span class="views" title="Most viewed">{{post.viewcount}}</span>
                                               <!--  <span class="likes" title="Most liked">45</span> -->
            								</div>
            				            </div>
            				    </div>
            				</a>
                        </li>
            		</ul>
                    <div class="loadingMore"  (click)="onScrollDown()"><div class="loadBtn">Load More</div></div>
            	</section>



          </div>
      </aside>
      <!-- sidebar end -->

      <main>
          <div class="overlay"></div>

          <iframe class="mainframe" [src]='iFrameURL()' frameborder="0" sandbox="allow-scripts allow-same-origin allow-scripts allow-popups allow-forms allow-pointer-lock">
          </iframe>

          <div class="iframeFailed" style="display: none">
                <p class="message">Iframe embedding is not supported!</p>
                <a href="" class="newTabLink loadingMore">Open link in new tab</a>
          </div>

      </main>

      <!-- main iframe part end -->

  </div>
  <!-- container end -->
