<div class="home-content">
    <div class="JoinToday">
      <h1 class="h1">Discover tomorrow's design - Get started today!</h1>
      <h3 class="h3">Join our email digest is a short and sweet bundle of the inspiring design, UI, UX 
and interactive news from around the web. It's simply best!</h3>
      <form action="#" method="post" accept-charset="utf-8"
        id="subscribe-blog" class="subscrbeForm" (ngSubmit)="f.form.valid && subscribe()" #f="ngForm" novalidate>
        <input type="text" name="email"
          placeholder="Enter your email address in here" value="" [(ngModel)]="model.email" #email="ngModel"
          id="subscribe-field"> <input type="submit"
          value="Join Us Today">
      </form>
      <div class="noSpam" *ngIf="f.submitted && email.errors?.email;else other_content">Email is not valid</div>
      <ng-template class="noSpam" #other_content>No charge. No spam. Unsubscribe at any time. Promise!</ng-template>
        <div class="noSpam" *ngIf="subscribed=='exists'">Opps! This email already exists</div>
        <div class="noSpam" *ngIf="subscribed=='added'" >You're so in! Thank you for joining our newsletter</div>
        <div class="socialBtns">
        <div class="fb-like" data-href="https://www.facebook.com/bestUXDesign/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
       
       <a href="https://twitter.com/bestUXDesign?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow @bestUXDesign</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
       
       </div>
    </div>
    <app-hand-picked></app-hand-picked>
    <app-latest-story></app-latest-story>
</div>
