<div class="home-content">
    <div class="JoinToday">
      <h1 class="h1">Discover tomorrow's design, today!</h1>
      <h3 class="h3">Into UI UX? Join our email digest is a weekly summary of the inspiring UI UX related content. <br/> We curate the best, so you can stay continually informed.</h3>
      <form action="#" method="post" accept-charset="utf-8"
        id="subscribe-blog" class="subscrbeForm" (ngSubmit)="f.form.valid && subscribe()" #f="ngForm" novalidate>
        <input type="text" name="email"
          placeholder="Enter your email address in here" value="" [(ngModel)]="model.email" #email="ngModel"
          id="subscribe-field"> <input type="submit"
          value="Join Us Today">
      </form>
      <div class="noSpam" *ngIf="f.submitted && email.errors?.email;else other_content">Email is not valid</div>
      <ng-template class="noSpam" #other_content>No charge. No spam. Unsubscribe at any time. Promise!</ng-template>
        <div class="noSpam" *ngIf="subscribed=='exists'">Opps! This email already exists</div>
        <div class="noSpam" *ngIf="subscribed=='added'" >You're so in! Thank you for joining our newsletter</div>
    </div>
    <app-hand-picked></app-hand-picked>
    <app-latest-story></app-latest-story>
</div>
