<div class="feedHeader">
	<div class="dayWise">
		<a href="" class="sectionHeader">
			<h2 class="borderYellow">Add your story</h2> <span>Today's Shots</span>
		</a>
	</div>
	 <div >
             <!-- <!-- <h1 class="h1">Drop your Dribbble or Behance story!!</h1>
             -->
				<form [formGroup]="userAddForm"	(ngSubmit)="add()" accept-charset="utf-8" id="submit-blog" class="submitForm"	novalidate>
					 <input formControlName="url" type="text" name="url" style="width: 640px;" placeholder="Dribbble or Behance URL's only.." value="{{user.url}}" id="submit-field" url> 
				<button class="submitBtn  btn-success"	>Submit URL</button>
		<div class="noSpam" *ngIf="subscribed=='exists'">Opps! This URL already exists</div>
        <div class="noSpam" *ngIf="subscribed=='added'" >You're so in! Thank you for submitting</div>
         <div class="noSpam" *ngIf="subscribed=='invalidUrl'" >Invalid URL. Please submit Dribbble or Behance only.</div>
          <div class="noSpam" *ngIf="subscribed=='error'" >No OpenGraph Tags Found. Please try different URL or submit using <a href="http://www.buxd.io/userposts">HandPicked-Story</a></div>
       
                </form>
            </div>
	
	<main>
    
</main>
</div>

<div class="scrollableFeed">

<section id="feed">
    <ul class="AllFeed" infinite-scroll [infiniteScrollDistance]="2"
		[infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
        <li class="gridItem" *ngFor="let post of posts">
            <a href ="{{post.url}}?referrer=buxd.io" target="_blank">
                <div class="postPhoto imgLoaded">
					<img class="img-responsive" src={{post.image}} alt>
				</div>
				<div class="postInfo">
					<h3>{{post.title}}</h3>
					<div class="postMeta">
						<span title="" class="source dribbble">{{post.source}}</span>
						<div class="stats">
						</div>
					</div>
				</div>
            </a>
        </li>
    </ul>
    <div class="loadingMore"  (click)="onScrollDown()"><div class="loadBtn">Load More <span>Latest Shots</span></div></div>
 </section>
</div>
